<div class="register">

    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
  
    <div align="center">
      <img align="center" class="farmconnect-logo" src="/images/farmconnect logo.jpg" alt="FarmConnect Logo">
    </div>
  
    <div class="heading">
      <h1 align="center">Farmer Registration</h1>
    </div>
    <br>
  
    <div class="body">
      <table align="center">
  
        <tr>
          <td>Name</td>
          <td><input type="text" name="fName" [(ngModel)]="farmer.farmerName" /></td>
        </tr>
        <br>
  
        <tr>
          <td>Country</td>
          <td>
            <select name="country" [(ngModel)]="farmer.country">
              <option value="" selected>Select Country</option>
              <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
            </select>
          </td>
        </tr>
        <br>
  
        <tr>
          <td>Email ID</td>
          <td><input type="text" name="emailId" [(ngModel)]="farmer.farmerEmailId" /></td>
        </tr>
        <br>
  
        <tr>
          <td>Mobile</td>
          <td><input type="text" name="mobile" [(ngModel)]="farmer.farmerMobile" /></td>
        </tr>
        <br>
  
        <tr>
          <td>Address</td>
          <td><input type="text" name="address" [(ngModel)]="farmer.address" /></td>
        </tr>
        <br>
  
        <tr>
          <td>Password</td>
          <td><input type="password" name="password" [(ngModel)]="farmer.farmerPassword" /></td>
        </tr>
        <br>
        <br>
  
        <tr>
          <td></td>
          <td>
            <button (click)="registerSubmit()" class="btn btn-primary">Sign Up</button> &nbsp;
            Already Registered? <a routerLink="/farmer-login">Sign In</a>
          </td>
        </tr>
      </table>
    </div>
  </div>