.login{
    background: fixed;
    margin-top: 100px;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 25px;
    
   
  }
  
  .farmconnect-logo{
    padding-top: 100px;
    height: 30%;
    width: 30%;
    
  }
  .container{
    padding-bottom: 100px;
    
  }