.register{
    background: fixed;
    background-color: rgb(133, 168, 153);
    margin-top: 30px;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 25px;
    
}

.body{
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.farmconnect-logo {
  padding-top: 100px;
  height: 30%;
  width: 30%;


}