<div class="register">
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <div align="center">
      <img align="center" class="farmconnect-logo" src="/images/farmconnect logo.jpg" alt="">
    </div>
  
   <div class="heading">
    <h1 align="center"><b>Customer Registration</b></h1>
   </div>
   <br>
    
    
    <div class="body">
      <table align="center">
      
        <tr>
          <td>Name</td>
          <td><input type="text" name="cName" [(ngModel)]="cust.customerName" /></td>
        </tr>
        <br>
      
        <tr>
          <td>Country</td>
          <td>
            <select name="country" [(ngModel)]="cust.country">
              <option value="" selected>Select Country</option>
      
              <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
            </select>
          </td>
        </tr>
        <br>
      
        <tr>
          <td>EmailId</td>
          <td><input type="text" name="emailId" [(ngModel)]="cust.customerEmailId" /></td>
        </tr>
        <br>
        <tr>
          <td>Mobile</td>
          <td><input type="text" name="mobile" [(ngModel)]="cust.customerMobile" /></td>
        </tr>
        <br>
        <tr>
          <td>Address</td>
          <td><input type="text" name="Address" [(ngModel)]="cust.address" /></td>
        </tr>
        <br>
     
        <tr>
          <td>Password</td>
          <td><input type="password" name="password" [(ngModel)]="cust.customerPassword" /></td>
        </tr>
        <br>
        <br>
      
        <tr>
          <td></td>
  
          <td>
            <button (click)="registerSubmit()" class="btn btn-primary">SignUp</button> &nbsp;
            Already User? <a routerLink="/login">SignIn</a>
          </td>
        </tr>
      </table>
    </div>
  </div>